/*Reset html*/
a {
  color: #ffff;
  text-decoration: none; }

.link-decoration {
  padding: 0 1.7rem; }

a:hover {
  color: #00bec9; }

body {
  background-color: #ffff;
  font-size: 1.2rem; }

/*Breackpoints */
@media screen and (min-width: 960px) {
  .logo {
    padding-right: 1rem;
    width: 80%; } }

@media screen and (max-width: 576px) {
  .text-box-sm {
    padding: 0; } }

@media screen and (max-width: 576px) {
  .title-sm {
    font-size: 1.5rem; } }

@media screen and (min-width: 720px) {
  .banel-container {
    display: flex;
    flex-direction: column; } }

@media screen and (min-width: 960px) {
  .banel-container {
    flex-direction: row; } }

@media screen and (min-width: 720px) {
  .item-banel {
    padding: 1.7rem 0.5rem; } }

@media screen and (min-width: 720px) {
  .nurse-banel-item {
    padding: 4rem; } }

/*Padding con dimenciones y medica query*/
@media screen and (min-width: 960px) {
  .padding-l-5 {
    padding: 4rem; } }

@media screen and (min-width: 960px) {
  .padding-l-4 {
    padding: 3rem; } }

@media screen and (min-width: 960px) {
  .padding-l-3 {
    padding: 2rem; } }

@media screen and (min-width: 960px) {
  .padding-l-2 {
    padding: 1rem; } }

@media screen and (min-width: 960px) {
  .padding-l-1 {
    padding: 0.5rem; } }

@media screen and (min-width: 960px) {
  .padding-l-0 {
    padding: 0; } }

@media screen and (min-width: 960px) {
  .padding-lx-5 {
    padding: 0 4rem; } }

@media screen and (min-width: 960px) {
  .padding-lx-4 {
    padding: 0 3rem; } }

@media screen and (min-width: 960px) {
  .padding-lx-3 {
    padding: 0 2rem; } }

@media screen and (min-width: 960px) {
  .padding-lx-2 {
    padding: 0 1rem; } }

@media screen and (min-width: 960px) {
  .padding-lx-1 {
    padding: 0 0.5rem; } }

@media screen and (min-width: 960px) {
  .padding-ly-5 {
    padding: 4rem 0; } }

@media screen and (min-width: 960px) {
  .padding-ly-4 {
    padding: 3rem 0; } }

@media screen and (min-width: 960px) {
  .padding-ly-3 {
    padding: 2rem 0; } }

@media screen and (min-width: 960px) {
  .padding-ly-2 {
    padding: 1rem 0; } }

@media screen and (min-width: 960px) {
  .padding-ly-1 {
    padding: 0.5rem 0; } }

@media screen and (min-width: 720px) {
  .padding-md-5 {
    padding: 4rem; } }

@media screen and (min-width: 720px) {
  .padding-md-4 {
    padding: 3rem; } }

@media screen and (min-width: 720px) {
  .padding-md-3 {
    padding: 2rem; } }

@media screen and (min-width: 720px) {
  .padding-md-2 {
    padding: 1rem; } }

@media screen and (min-width: 720px) {
  .padding-md-1 {
    padding: 0.5rem; } }

@media screen and (min-width: 720px) {
  .padding-md-0 {
    padding: 0; } }

@media screen and (min-width: 720px) {
  .padding-mdx-5 {
    padding: 0 4rem; } }

@media screen and (min-width: 720px) {
  .padding-mdx-4 {
    padding: 0 3rem; } }

@media screen and (min-width: 720px) {
  .padding-mdx-3 {
    padding: 0 2rem; } }

@media screen and (min-width: 720px) {
  .padding-mdx-2 {
    padding: 0 1rem; } }

@media screen and (min-width: 720px) {
  .padding-mdx-1 {
    padding: 0 0.5rem; } }

@media screen and (min-width: 720px) {
  .padding-mdy-5 {
    padding: 4rem 0; } }

@media screen and (min-width: 720px) {
  .padding-mdy-4 {
    padding: 3rem 0; } }

@media screen and (min-width: 720px) {
  .padding-mdy-3 {
    padding: 2rem 0; } }

@media screen and (min-width: 720px) {
  .padding-mdy-2 {
    padding: 1rem 0; } }

@media screen and (min-width: 720px) {
  .padding-mdy-1 {
    padding: 0.5rem 0; } }

@media screen and (max-width: 576px) {
  .padding-sm-5 {
    padding: 4rem; } }

@media screen and (max-width: 576px) {
  .padding-sm-4 {
    padding: 3rem; } }

@media screen and (max-width: 576px) {
  .padding-sm-3 {
    padding: 2rem; } }

@media screen and (max-width: 576px) {
  .padding-sm-2 {
    padding: 1rem; } }

@media screen and (max-width: 576px) {
  .padding-sm-1 {
    padding: 0.5rem; } }

@media screen and (max-width: 576px) {
  .padding-sm-0 {
    padding: 0; } }

@media screen and (max-width: 576px) {
  .padding-smx-5 {
    padding: 0 4rem; } }

@media screen and (max-width: 576px) {
  .padding-smx-4 {
    padding: 0 3rem; } }

@media screen and (max-width: 576px) {
  .padding-smx-3 {
    padding: 0 2rem; } }

@media screen and (max-width: 576px) {
  .padding-smx-2 {
    padding: 0 1rem; } }

@media screen and (max-width: 576px) {
  .padding-smx-1 {
    padding: 0 0.5rem; } }

@media screen and (max-width: 576px) {
  .padding-smy-5 {
    padding: 4rem 0; } }

@media screen and (max-width: 576px) {
  .padding-smy-4 {
    padding: 3rem 0; } }

@media screen and (max-width: 576px) {
  .padding-smy-3 {
    padding: 2rem 0; } }

@media screen and (max-width: 576px) {
  .padding-smy-2 {
    padding: 1rem 0; } }

@media screen and (max-width: 576px) {
  .padding-smy-1 {
    padding: 0.5rem 0; } }

/*margin con dimenciones y medica query*/
@media screen and (min-width: 960px) {
  .margin-l-5 {
    margin: 4rem; } }

@media screen and (min-width: 960px) {
  .margin-l-4 {
    margin: 3rem; } }

@media screen and (min-width: 960px) {
  .margin-l-3 {
    margin: 2rem; } }

@media screen and (min-width: 960px) {
  .margin-l-2 {
    margin: 1rem; } }

@media screen and (min-width: 960px) {
  .margin-l-1 {
    margin: 0.5rem; } }

@media screen and (min-width: 960px) {
  .margin-l-0 {
    margin: 0; } }

@media screen and (min-width: 960px) {
  .margin-lx-5 {
    margin: 0 4rem; } }

@media screen and (min-width: 960px) {
  .margin-lx-4 {
    margin: 0 3rem; } }

@media screen and (min-width: 960px) {
  .margin-lx-3 {
    margin: 0 2rem; } }

@media screen and (min-width: 960px) {
  .margin-lx-2 {
    margin: 0 1rem; } }

@media screen and (min-width: 960px) {
  .margin-lx-1 {
    margin: 0 0.5rem; } }

@media screen and (min-width: 960px) {
  .margin-ly-5 {
    margin: 4rem 0; } }

@media screen and (min-width: 960px) {
  .margin-ly-4 {
    margin: 3rem 0; } }

@media screen and (min-width: 960px) {
  .margin-ly-3 {
    margin: 2rem 0; } }

@media screen and (min-width: 960px) {
  .margin-ly-2 {
    margin: 1rem 0; } }

@media screen and (min-width: 960px) {
  .margin-ly-1 {
    margin: 0.5rem 0; } }

@media screen and (min-width: 720px) {
  .margin-md-5 {
    margin: 4rem; } }

@media screen and (min-width: 720px) {
  .margin-md-4 {
    margin: 3rem; } }

@media screen and (min-width: 720px) {
  .margin-md-3 {
    margin: 2rem; } }

@media screen and (min-width: 720px) {
  .margin-md-2 {
    margin: 1rem; } }

@media screen and (min-width: 720px) {
  .margin-md-1 {
    margin: 0.5rem; } }

@media screen and (min-width: 720px) {
  .margin-md-0 {
    margin: 0; } }

@media screen and (min-width: 720px) {
  .margin-mdx-5 {
    margin: 0 4rem; } }

@media screen and (min-width: 720px) {
  .margin-mdx-4 {
    margin: 0 3rem; } }

@media screen and (min-width: 720px) {
  .margin-mdx-3 {
    margin: 0 2rem; } }

@media screen and (min-width: 720px) {
  .margin-mdx-2 {
    margin: 0 1rem; } }

@media screen and (min-width: 720px) {
  .margin-mdx-1 {
    margin: 0 0.5rem; } }

@media screen and (min-width: 720px) {
  .margin-mdy-5 {
    margin: 4rem 0; } }

@media screen and (min-width: 720px) {
  .margin-mdy-4 {
    margin: 3rem 0; } }

@media screen and (min-width: 720px) {
  .margin-mdy-3 {
    margin: 2rem 0; } }

@media screen and (min-width: 720px) {
  .margin-mdy-2 {
    margin: 1rem 0; } }

@media screen and (min-width: 720px) {
  .margin-mdy-1 {
    margin: 0.5rem 0; } }

@media screen and (max-width: 576px) {
  .margin-sm-5 {
    margin: 4rem; } }

@media screen and (max-width: 576px) {
  .margin-sm-4 {
    margin: 3rem; } }

@media screen and (max-width: 576px) {
  .margin-sm-3 {
    margin: 2rem; } }

@media screen and (max-width: 576px) {
  .margin-sm-2 {
    margin: 1rem; } }

@media screen and (max-width: 576px) {
  .margin-sm-1 {
    margin: 0.5rem; } }

@media screen and (max-width: 576px) {
  .margin-sm-0 {
    margin: 0; } }

@media screen and (max-width: 576px) {
  .margin-smx-5 {
    margin: 0 4rem; } }

@media screen and (max-width: 576px) {
  .margin-smx-4 {
    margin: 0 3rem; } }

@media screen and (max-width: 576px) {
  .margin-smx-3 {
    margin: 0 2rem; } }

@media screen and (max-width: 576px) {
  .margin-smx-2 {
    margin: 0 1rem; } }

@media screen and (max-width: 576px) {
  .margin-smx-1 {
    margin: 0 0.5rem; } }

@media screen and (max-width: 576px) {
  .margin-smy-5 {
    margin: 4rem 0; } }

@media screen and (max-width: 576px) {
  .margin-smy-4 {
    margin: 3rem 0; } }

@media screen and (max-width: 576px) {
  .margin-smy-3 {
    margin: 2rem 0; } }

@media screen and (max-width: 576px) {
  .margin-smy-2 {
    margin: 1rem 0; } }

@media screen and (max-width: 576px) {
  .margin-smy-1 {
    margin: 0.5rem 0; } }

/*Header componet*/
@media screen and (min-width: 960px) {
  .my-s1-caption {
    left: 10%;
    right: 25%;
    top: 20%;
    bottom: 20%;
    text-align: left;
    width: 400px; } }

.box-decoration {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5; }
  @media screen and (min-width: 720px) {
    .box-decoration {
      bottom: 30px; } }

.img-video {
  position: relative;
  z-index: 10; }

.box-decoration-2 {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5; }
  @media screen and (min-width: 720px) {
    .box-decoration-2 {
      bottom: 30px; } }

@media screen and (min-width: 960px) {
  .img-banel-bg {
    background-image: url(/images/bg-banel-vacunas.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 574px;
    max-height: 575px; } }

@media screen and (min-width: 960px) {
  .footer {
    height: 600px;
    max-height: 654px; } }

.f-link-container {
  padding: 0;
  margin: 0; }

.bg-none-card {
  background: none; }

/*Navbar componet*/
.logo {
  padding-right: 1rem;
  width: 70%; }

.button-colored {
  background-color: #00bec9; }

.base-color {
  background-color: #fcc302; }

.button-colored:hover {
  background-color: #22a1b0; }

/*Bannel icon component*/
.fa-heartbeat, .fa-stethoscope, .fa-syringe {
  font-size: 3rem;
  color: #ffff; }

.card-icon-item {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

/*Footer component*/
.my-footer-links {
  color: #ffff; }

@media screen and (min-width: 960px) {
  .suscribe-input {
    height: 50px; } }

.sm-icon {
  font-size: 1.8rem;
  margin: 0.5rem; }

.btn-icon {
  font-size: 1.2rem; }

.footer {
  padding: 3rem 0.5rem; }

.footer-option-nav {
  padding: 1.5rem 0; }

.footer-form-container {
  padding-top: 2.5rem; }

/*Theme color*/
.navbar {
  background-color: #daac00; }
  .navbar a {
    font-size: 1.2rem; }

.box-decoration, .box-decoration-2 {
  background-color: #fcc302; }

.my-footer-links {
  color: #313243; }

/* btn color*/
.button-base {
  background-color: #fcc302; }

.button-base:hover {
  background-color: #daac00; }

.button-secondary {
  background-color: #00bec9; }

.button-secondary {
  background-color: #22a1b0; }

/* main color*/
.base-color {
  background-color: #fcc302; }

.dark-color {
  background-color: #313243; }
