a {
  color: #ffff;
  text-decoration: none; }

body {
  background-color: #ffff;
  font-size: 1.2rem; }

@media screen and (min-width: 960px) {
  .my-s1-caption {
    left: 10%;
    right: 25%;
    top: 20%;
    bottom: 20%;
    text-align: left;
    width: 400px; } }

.box-decoration {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5; }

.img-video {
  position: relative;
  z-index: 10; }

.box-decoration-2 {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5; }

@media screen and (min-width: 960px) {
  .img-banel-bg {
    background-image: url(/images/bg-banel-vacunas.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 574px;
    max-height: 575px; } }

@media screen and (min-width: 960px) {
  .footer {
    height: 600px;
    max-height: 654px; } }

.f-link-container {
  padding: 0;
  margin: 0; }

.bg-none-card {
  background: none; }

.link-decoration {
  padding: 0 1.7rem; }

a:hover {
  color: #00bec9;
  font-weight: bold; }

.logo {
  padding-right: 1rem;
  width: 80%; }

.button-colored {
  background-color: #00bec9; }

.base-color {
  background-color: #fcc302; }

.button-colored:hover {
  background-color: #22a1b0; }

.fa-heartbeat, .fa-stethoscope, .fa-syringe {
  font-size: 3rem;
  color: #ffff; }

.card-icon-item {
  width: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.my-footer-links {
  color: #ffff; }

.navbar {
  background-color: #daac00; }
  .navbar a {
    font-size: 1.2rem; }

.box-decoration, .box-decoration-2 {
  background-color: #fcc302; }

.my-footer-links {
  color: #313243; }

/* btn color*/
.button-base {
  background-color: #fcc302; }

.button-base:hover {
  background-color: #daac00; }

.button-secondary {
  background-color: #00bec9; }

.button-secondary {
  background-color: #22a1b0; }

/* main color*/
.base-color {
  background-color: #fcc302; }

.dark-color {
  background-color: #313243; }
