/*Theme color*/

.navbar {
    background-color: $base;

    a { 
        font-size: 1.2rem;
        
    }

    
}


.box-decoration, .box-decoration-2 {
    background-color: $baseAlt;

}


.my-footer-links{
    color: $text-color;
    
}

/* btn color*/

.button-base {
    background-color: $baseAlt;
}
.button-base:hover {
    background-color: $base;
}

.button-secondary {
    background-color: $mysecondary;
}
.button-secondary {
    background-color: $mysecondaryAlt;
}

/* main color*/

.base-color {
    background-color: $baseAlt;
}

.dark-color {
    background-color: $text-color;
}