.navbar {
    background-color: $base;

    a { 
        font-size: 1.2rem;
        
    }

    
}


.box-decoration, .box-decoration-2 {
    background-color: $baseAlt;

}


.my-footer-links{
    color: $text-color;
    
}