/*Navbar componet*/

.logo {
    padding-right: 1rem;
    width: 70%;
}

.button-colored {
    background-color: $mysecondary;
}

.base-color {
    background-color: $baseAlt;
}

.button-colored:hover {
    background-color: $mysecondaryAlt;

}

