/*Breackpoints */

// navbar
.logo {
    @include laptop {
        padding-right: 1rem;
        width: 80%;
    }
}

.text-box-sm {
    @include mobile {

        padding: 0;


    }
}

.title-sm {
    @include mobile {
        font-size: 1.5rem;
    }
}

// tablet breakpoint

.banel-container {
    @include tablet {
        display: flex;
        flex-direction: column;

    }
    
    @include laptop {
        flex-direction: row;
    }
}

.item-banel {
    @include tablet {
        padding: 1.7rem 0.5rem;
    }
}

.nurse-banel-item {
    @include tablet {
        padding: 4rem;

    }
}