// colors
$base: #daac00;
$baseAlt: #fcc302;
$myPrimary: #ffff;
$mysecondary: #00bec9;
$mysecondaryAlt: #22a1b0;
$text-color: #313243;



// width media querys
$mobile:576px;
$tablet:720px;
$laptop:960px;
$desktop:1200px;