// colors
$btn-color-1: #00bec9;
$btn-color-2:#fcc302;
$btn-border-1:#ffff;
$btn-border-2:#eeee;
$bg-color-1:#fcc302;
$bg-color-2:#daac00;
$body-color-1:#ffff;
$body-color-2:#eeee;
$text-color-1:#ffff;
$text-color-2:#313243;
$color-style-1:#daac00;
$color-style-2:#00bec9;
$color-style-3:#343434;


// width media querys
$mobile:576px;
$tablet:720px;
$laptop:960px;
$desktop:1200px;